node_modules
.next
dist
coverage
.turbo
.DS_Store
*.log
.env
.env.*
.env.local
.env.test

# OS / Editor
.vscode/
.idea/
Thumbs.db

# Prisma
.prisma/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/*.local

# Lock files (if you intentionally want to ignore lockfiles, uncomment)
# package-lock.json
