# Node modules
node_modules/

# Ignore node_modules in any subpackage/workspace folder
**/node_modules/
packages/**/node_modules/
apps/**/node_modules/

# Environment files
.env
.env.*
**/.env
**/.env.*

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# macOS
.DS_Store

# Dist/build folders
dist/
build/
